:root {
    --Fuente_Principal: 'Josefin Sans';
    --Color_One: #f0ead2;
    --Fuente_Titulos: 'Bubblegum Sans';
    --Color_Two: #70E000;
}

/* Global Styles */
* {
    margin: 0;
    padding: 0;
}

a {
    color: #f0ead2;
    text-decoration: none;
}

html {
    font-size: 62, 5%;
}

p {
    font-size: 1.6rem;
    text-align: justify;
}

body {
    font-family: 'Balsamiq Sans';
}

li {
    list-style: none;
}

img {
    display: block;
}

/* HEADER */

.pre__header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 0.5rem 0rem;
    background-color: var(--Color_Two);
}

@media (max-width: 768px) {
    .pre__header {
        flex-direction: column;
        gap: 0.7rem;
        padding-top: 1rem;
    }
}

.pre__header p {
    font-family: var(--Fuente_Principal);
    color: black;
    font-size: 1rem;
}

/* NAV */
.nav_index {
    display: flex;
    justify-content: center;
}

.header__logo {
    max-height: 8rem;
    max-width: 8rem;
}

.whatsapp__logo img {
    width: 10rem;
    height: 4rem;
    position: fixed;
    right: -3%;
    z-index: 1;
}

@media (max-width: 510px) {
    .whatsapp__logo img {
        display: none;
    }
}

/* MAIN INDEX*/
.main__index {
    padding: 2rem;
}

.welcome__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 6rem;
    gap: 2rem;
    line-height: 1.8rem;
    font-size: 1.6rem;
    font-family: var(--Fuente_Principal);
    text-align: justify;
    background-image: linear-gradient(83deg, rgba(0, 0, 0, 0.5802696078431373) 0%, rgba(0, 0, 0, 0.5550595238095238) 100%),
        url(https://static.vecteezy.com/system/resources/previews/002/437/811/non_2x/still-life-on-green-school-board-background-free-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome__text h1 {
    font-size: 2rem;
    align-self: center;
    color: var(--Color_Two);
}

.welcome__text ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.welcome__text li {
    list-style: circle;
    color: antiquewhite;
}

@media (max-width: 768px) {
    .welcome__text {
        align-items: center;
        font-size: 1.4rem;
    }
}

/*FOOTER INDEX*/

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--Color_Two);
    background-color: black;
    padding-top: 2rem;
}

.footer p {
    font-size: 1rem;
}

.social__media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.footer h5 {
    align-self: flex-end;
    font-size: 0.6rem;
}

@media (max-width: 768px) {
    .footer {
        gap: 1rem;
    }
}

/* CURSOS */
.title_courses {
    padding: 3rem;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-family: var(--Fuente_Titulos);
}

.accordion {
    font-family: var(--Fuente_Principal);
    font-size: 1.5rem;
    text-align: justify;
    padding: 3rem;
}

.accordion-button {
    color: #70E000;
    background-color: black;
}

.kinder_course,
.children_course,
.juniors_course,
.teens_course,
.adults_course {
    max-width: 20rem;
    margin: 0 auto;
    padding: 1rem;
}

@media (max-width: 510px) {
    .kinder_course,
    .children_course,
    .juniors_course,
    .teens_course,
    .adults_course {
        width: 12rem;
    }
    .accordion {
        font-size: 1rem;
        padding: 3rem;
        text-align: center;
    }
    }

    @media (max-width: 382px) {
        .kinder_course,
        .children_course,
        .juniors_course,
        .teens_course,
        .adults_course {
            width: 9rem;
        }
        .accordion {
            font-size: 1rem;
            padding: 3rem;
            text-align: center;
        }
        }

        @media (max-width: 332px) {
            .kinder_course,
            .children_course,
            .juniors_course,
            .teens_course,
            .adults_course {
                width: 8rem;
                padding: none;
            }
            .courses_for_kids h1 {
                font-size: 1.2rem;
            }
        }

/* EXÁMENES */
.exams {
    padding: 3rem;
    font-family: var(--Fuente_Principal);
        }

.exams_title{
    font-family: var(--Fuente_Titulos);
    font-size: 2.8rem;
    padding: 3rem;
}

    .subtitle_exams {
        font-family: var(--Fuente_Titulos);
        background-color: black;
        color: #70E000;
    }

    .exams_title2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.2rem;
    }

    .exams_title2 h1 {
        font-size: 1.4rem;
        text-align: center;
        font-family: var(--Fuente_Titulos);
    }

        .int_iframes a {
            color: #70E000;
            font-size: 1.3rem;
            line-height: 2rem;
        }

        .int_iframes a:hover {
            border-bottom: 3px solid black;
        }

@media (max-width: 970px) {
    .video_exams {
        width: 15rem;
    }
}

@media (max-width: 763px) {
    .video_exams {
        width: 25rem;
    }
}

@media (max-width: 550px) {
    .video_exams {
        width: 18rem;
    }

    .exams_title {
        font-size: 2rem;
        }
}


/*CONOCENOS*/
.title_meetus {
    padding: 3rem;
    font-family: var(--Fuente_Titulos);
    font-size: 3rem;
}

    .conocenos__school {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 3rem;
            gap: 2rem;
            font-family: var(--Fuente_Principal);
        }

    .mister__hodinka {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            padding: 3rem;
        }

        .mister__hodinka p {
            font-family: var(--Fuente_Principal);
        }

        .mister__guardeno {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            padding: 6rem;
        }

        .mister__guardeno p {
            font-family: var(--Fuente_Principal);
        }

        .institute_pic {
            max-width: 20rem;
        }

        .classroom_pic {
            max-width: 20rem;
        }

        .professor_hodinka {
            max-width: 15rem;
            max-height: 15rem;
        }

        .professor_guardeno {
            max-width: 15rem;
            max-height: 15rem;
        }

        @media (max-width: 910px) {
            .institute_pic {
                max-width: 16rem;
            }
            .classroom_pic {
                max-width: 16rem;
            }
        }

        @media (max-width: 785px) {
            .conocenos__school {
                display: flex;
                flex-direction: column;
                }
            }

        /*STAFF*/

        .teacher_staff1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: var(--Fuente_Principal);
            padding: 3rem;
        }

        .teacher_staff2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: var(--Fuente_Principal);
            padding: 3rem;
        }

        .teacher_staff3 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: var(--Fuente_Principal);
            padding: 3rem;
        }

        .teacher_staff4 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: var(--Fuente_Principal);
            padding: 3rem;
        }

        .aside_staff {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: var(--Fuente_Principal);
            max-height: 60%;
            padding: 2rem 2rem;
            color: black;
            border: solid 2px black;
            border-style: dashed;
            background: linear-gradient(to right, #add100, #7b920a);
            ;
        }

        .teacher1 {
            max-width: 13rem;
        }

        .teacher_emoji {
            max-width: 8rem;
        }


        @media (max-width: 371px) {
            .teacher_emoji {
                max-width: 5rem;
            }

            .aside_staff {
                height: 100%;
                background: none;
                border: none;
            }

            .teacher_staff1 p {
                font-size: 1rem;
            }

            .teacher_staff2 p {
                font-size: 1rem;
            }

            .teacher_staff3 p {
                font-size: 1rem;
            }

            .teacher_staff4 p {
                font-size: 1rem;
            }

            .aside_staff p {
                font-size: 1rem;
            }
        }

        /*VALORES*/

        .main__values h1 {
            font-size: 3rem;
            margin-top: 3rem;
            text-align: center;
            color: #70E000;
        }

        .main__values p {
            font-size: 1.5rem;
            margin-top: 3rem;
            text-align: justify;
            font-family: var(--Fuente_Principal);
            padding: 2rem;
            line-height: 2rem;
        }

        .valores_green {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 6rem 4rem;
            gap: 2rem;
            line-height: 1.8rem;
            font-size: 1.6rem;
            font-family: var(--Fuente_Principal);
            text-align: justify;
            background-image: linear-gradient(83deg, rgba(0, 0, 0, 0.5802696078431373) 0%, rgba(0, 0, 0, 0.5550595238095238) 100%),
                url(https://wikieconomica.com/wp-content/uploads/2020/10/1-11.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }

        .valores_green h1 {
            color: #70E000;
        }

        .valores_green ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 2rem;
        }

        .valores_green li {
            list-style: circle;
            color: antiquewhite;
        }

        @media (max-width:534px) {
            .valores_green h1 {
                font-size: 1.4rem;
            }

            .main__values p {
                font-size: 1.2rem;
            }
        }

        /*CONTACTO*/
        .main__contacto {
            background-image: linear-gradient(83deg, rgba(0, 0, 0, 0.5802696078431373) 0%, rgba(0, 0, 0, 0.5550595238095238) 100%), url(https://images.unsplash.com/photo-1533929736458-ca588d08c8be?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: flex-start;
        }

        .form_contacto {
            margin: 3rem 2rem;
            padding: 2rem;
            max-width: 500px;
            box-sizing: border-box;
            border-radius: 7px;
            background: linear-gradient(to right, #d3cce3, #e9e4f0);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: medium;
            line-height: 2rem;
        }

        .contacto_title {
            color: white;
            margin: 3rem;
        }

        input,
        textarea,
        label {
            width: 100%;
            margin-top: 1.5rem;
            align-items: center;
        }

        .boton_submit {
            background-color: var(--Color_Two);
            color: black;
            font-family: var(--Fuente_Titulos);
            font-size: 1.2rem;
            padding: 0.5rem;
        }

        .boton_submit:hover {
            cursor: pointer;
        }

        @media (max-width: 976px) {
            .main__contacto {
                flex-direction: column;
                align-items: center;
            }
        }

        @media (max-width: 560px) {
            .form_contacto {
                width: 100%;
                margin: 0;
            }
        }

        @media (max-width: 315px) {
            .form_contacto {
                width: 100%;
                margin: 0;
            }
        }

        .map {
            flex-direction: column;
            justify-content: center;
        }

        .sede_title {
            color: white;
            padding: 3rem;
            font-size: 1.5rem;
        }

        .iframe_contacto {
            width: 500px;
            height: 450px;
        }

        @media (max-width:1200px) {
            .iframe_contacto {
                width: 400px;
                height: 400px;
                margin-left: 4rem;
            }
        }

        @media (max-width:975px) {
            .iframe_contacto {
                width: 480px;
                height: 480px;
            }
        }

        @media (max-width:578px) {
            .iframe_contacto {
                width: 300px;
                height: 300px;
                margin: 0;
            }
        }

        .contact_us {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: black;
            padding: 2rem;
        }

        .icono_parrafo_contactus {
            display: flex;
            align-items: center;
            gap: 2rem;
            color: #70E000;
        }

        .icono_parrafo_contactus .fa-brands,
        .fa-solid {
            font-size: 2.5rem;
            align-items: center;
        }

        @media (max-width: 430px) {
            .icono_parrafo_contactus p {
                font-size: 1.2rem;
            }
        }