@charset "UTF-8";

.flex-col,
.welcome__text,
.valores_green,
.valores_green ul,
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: #f0ead2;
  text-decoration: none;
}

html {
  font-size: 62, 5%;
}

p {
  font-size: 1.6rem;
  text-align: justify;
}

body {
  font-family: 'Balsamiq Sans';
}

li {
  list-style: none;
}

img {
  display: block;
}

/* HEADER */
.pre__header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 0.5rem 0rem;
  background-color: #70E000;
}

.pre__header p {
  font-family: "Josefin Sans";
  color: black;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .pre__header {
    flex-direction: column;
    gap: 0.7rem;
    padding-top: 1rem;
  }
}

/* NAV */
.menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: black;
  padding: 1rem;
}

@media (max-width: 990px) {
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.menu .header__logo {
  height: 8rem;
  width: 8rem;
  background-color: black;
}

.menu .nav__list {
  display: flex;
  gap: 4rem;
  font-size: 1rem;
}

.menu .nav__list li:hover {
  border-bottom: 3px solid #70E000;
}

@media (max-width: 990px) {
  .menu .nav__list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/* Whatsapp sticky logo */
.whatsapp__logo img {
  width: 12rem;
  height: 5rem;
  position: fixed;
  right: -5%;
}

@media (max-width: 990px) {
  .whatsapp__logo img {
    top: 80%;
  }
}

.main__index {
  display: flex;
  padding: 2rem 3rem;
  gap: 1rem;
  align-items: center;
}

@media (max-width: 768px) {
  .main__index {
    flex-direction: column;
  }
}

.main__index .inscripciones {
  width: 40%;
  transition: all 3s;
}

.main__index .inscripciones:hover {
  width: 60%;
}

@media (max-width: 768px) {
  .main__index .inscripciones {
    width: 100%;
    transition: none;
  }
}

.main__index .gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 2px;
}

.main__index .gallery img {
  width: 100%;
}

@media (max-width: 768px) {
  .main__index .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .main__index .gallery {
    grid-template-columns: 1fr;
  }
}

.welcome__text {
  padding: 6rem 4rem;
  gap: 2rem;
  line-height: 1.8rem;
  font-size: 1.5rem;
  font-family: "Josefin Sans";
  text-align: justify;
  background-image: linear-gradient(83deg, rgba(0, 0, 0, 0.58027) 0%, rgba(0, 0, 0, 0.55506) 100%), url(https://static.vecteezy.com/system/resources/previews/002/437/811/non_2x/still-life-on-green-school-board-background-free-photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome__text h1 {
  font-size: 3.5rem;
  align-self: center;
  color: #70E000;
  font-family: "Bubblegum Sans";
}

.welcome__text ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.welcome__text li {
  list-style: circle;
  color: antiquewhite;
}

@media (max-width: 768px) {
  .welcome__text {
    align-items: center;
    font-size: 1.4rem;
  }

  .welcome__text h1 {
    font-size: 1.8rem;
  }
}

/*VALORES*/
.main__values h1 {
  font-size: 3rem;
  font-family: "Bubblegum Sans";
  margin-top: 3rem;
  text-align: center;
  color: #70E000;
}

.main__values p {
  font-size: 1.5rem;
  margin-top: 3rem;
  text-align: justify;
  font-family: "Josefin Sans";
  padding: 2rem;
  line-height: 2rem;
}

@media (max-width: 535px) {
  .main__values p {
    font-size: 1.2rem;
  }
}

.valores_green {
  padding: 6rem 4rem;
  gap: 2rem;
  line-height: 1.8rem;
  font-size: 1.6rem;
  font-family: "Josefin Sans";
  text-align: justify;
  background-image: linear-gradient(83deg, rgba(0, 0, 0, 0.58027) 0%, rgba(0, 0, 0, 0.55506) 100%), url(https://wikieconomica.com/wp-content/uploads/2020/10/1-11.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.valores_green h2 {
  color: #70E000;
  font-family: "Bubblegum Sans";
}

@media (max-width: 535px) {
  .valores_green h2 {
    font-size: 1.4rem;
  }
}

.valores_green ul {
  gap: 2rem;
}

.valores_green li {
  list-style: circle;
  color: antiquewhite;
}

.footer {
  color: #70E000;
  background-color: black;
}

.footer p {
  font-size: 1rem;
}

.footer h5 {
  align-self: flex-end;
}

.footer .social__media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .footer {
    gap: 1rem;
  }
}

/* CURSOS */
.main__courses {
  animation-name: courses_background;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.main__courses h1 {
  font-size: 4rem;
  text-align: start;
  padding: 3rem;
  font-family: "Bubblegum Sans";
}

.main__courses h2 {
  font-size: 1.7rem;
  text-align: center;
  padding: 1rem;
  background-color: black;
  color: #70E000;
  font-family: "Bubblegum Sans";
}

.main__courses .courses_for_kids {
  display: flex;
  align-items: center;
}

.main__courses .courses_for_kids h3 {
  font-size: 1.4rem;
  text-align: center;
  padding: 1rem;
  color: #70E000;
  background-color: white;
  text-decoration: overline underline;
}

.main__courses .courses_for_kids p {
  text-align: justify;
  font-size: 1.5rem;
  padding: 2rem;
  line-height: 2rem;
  font-family: "Josefin Sans";
  color: black;
}

.main__courses .kinder_course,
.main__courses .children_course,
.main__courses .juniors_course,
.main__courses .teens_course,
.main__courses .adults_course {
  width: 20rem;
  display: inline-block;
  padding: 3rem;
  transform: rotate(353deg);
}

@keyframes courses_background {
  30% {
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.499037) 0%, rgba(255, 255, 255, 0.499037) 48%, rgba(255, 255, 255, 0.496236) 85%), url(https://png.pngtree.com/png-vector/20190306/ourlarge/pngtree-continuous-line-drawing-of-london-city-of-westminster-big-ben-clock-png-image_770819.jpg);
    background-size: cover;
  }

  60% {
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.499037) 0%, rgba(255, 255, 255, 0.499037) 48%, rgba(255, 255, 255, 0.496236) 85%), url(https://i.etsystatic.com/15524348/r/il/4a44b0/2495284073/il_fullxfull.2495284073_5xbw.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  100% {
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.499037) 0%, rgba(255, 255, 255, 0.499037) 48%, rgba(255, 255, 255, 0.496236) 85%), url(https://www.kindpng.com/picc/m/70-705639_black-and-white-london-phone-booth-draw-london.png);
    background-repeat: no-repeat;
  }
}

@media (max-width: 920px) {

  .kinder_course,
  .children_course,
  .juniors_course,
  .teens_course,
  .adults_course {
    width: 16rem;
    margin: 0 auto;
  }

  .kinder_course,
  .children_course,
  .juniors_course,
  .teens_course,
  .adults_course {
    transform: none;
  }

  .courses_for_kids {
    flex-direction: column;
  }
}

@media (max-width: 797px) {

  .kinder_course,
  .children_course,
  .juniors_course,
  .teens_course,
  .adults_course {
    width: 19rem;
  }

  .kinder_course,
  .children_course,
  .juniors_course,
  .teens_course,
  .adults_course {
    transform: none;
  }
}

@media (max-width: 378px) {

  .kinder_course,
  .children_course,
  .juniors_course,
  .teens_course,
  .adults_course {
    width: 12rem;
  }

  .main__courses h1 {
    font-size: 1.8rem;
  }
}

/* EXÁMENES */
.contenedora__exams {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 0.8fr);
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
  padding: 2rem;
  grid-template-areas: "int_info int_info2 int_iframes"
    "int_info3 int_info4 int_iframes";
}

.contenedora__exams h2 {
  color: #70E000;
  margin-top: 1rem;
  background-color: black;
}

.contenedora__exams p {
  line-height: 2rem;
  margin-top: 1rem;
  font-family: "Josefin Sans";
  font-size: 1.3rem;
}

.contenedora__exams .int_info {
  grid-area: int_info;
}

.contenedora__exams .int_info h1 {
  font-size: 2.5rem;
  text-align: center;
  font-family: "Bubblegum Sans";
  padding: 2rem;
}

.contenedora__exams .int_info2 {
  grid-area: int_info2;
  margin-top: 4rem;
}

.contenedora__exams .int_info2 img {
  max-width: 20rem;
}

.contenedora__exams .int_info3 {
  grid-area: int_info3;
}

.contenedora__exams .int_info4 {
  grid-area: int_info4;
}

.contenedora__exams .int_iframes {
  grid-area: int_iframes;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.contenedora__exams .int_iframes h3 {
  margin: 1rem;
}

.contenedora__exams .int_iframes a {
  color: #70E000;
  font-size: 1.4rem;
  line-height: 2rem;
}

.contenedora__exams .int_iframes li:hover {
  border-bottom: 3px solid black;
}

@media (max-width: 1181px) {
  .contenedora__exams {
    display: grid;
    grid-template-columns: repeat(2, 0.7fr);
    grid-template-rows: repeat(3, 0.1fr);
    grid-template-areas: "int_info int_info2"
      "int_info3 int_info4"
      ". int_iframes";
  }

  .cam_int_exams {
    max-width: 15rem;
  }
}

@media (max-width: 973px) {
  .contenedora__exams {
    display: grid;
    grid-template-columns: repeat(2, 0.7fr);
    grid-template-rows: repeat(3, 0.1fr);
    grid-template-areas: "int_info int_info2"
      "int_info3 int_info4"
      ". int_iframes";
  }

  .cam_int_exams {
    max-width: 15rem;
  }
}

@media (max-width: 800px) {
  .contenedora__exams {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 1rem;
    grid-template-rows: repeat(5, 0.3fr);
    grid-template-areas: "int_info"
      "int_info2"
      "int_info3"
      "int_info4"
      "int_iframes";
  }

  .int_info2 {
    grid-area: int_info2;
    margin-top: 0;
  }
}

/*CONOCENOS*/
.main__conocenos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 0.8fr);
  column-gap: 4rem;
  row-gap: 6rem;
  grid-template-areas: "meet_us meet_us meet_us meet_us"
    "mister__hodinka mister__hodinka mister__guardeno mister__guardeno";
}

.main__conocenos .meet_us {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  grid-area: meet_us;
}

.main__conocenos .meet_us h1 {
  font-family: "Bubblegum Sans";
  font-size: 4rem;
  padding: 2rem;
}

.main__conocenos .meet_us p {
  text-align: center;
  font-family: "Josefin Sans";
}

.main__conocenos .meet_us .conocenos__school {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.main__conocenos .meet_us .conocenos__school img {
  max-width: 30rem;
}

.main__conocenos .mister__hodinka {
  display: flex;
  flex-direction: column;
  grid-area: mister__hodinka;
  align-items: center;
  gap: 2rem;
}

.main__conocenos .mister__hodinka h2 {
  font-family: "Bubblegum Sans";
  align-self: flex-start;
  font-size: 3rem;
  padding: 2rem;
}

.main__conocenos .mister__hodinka img {
  max-width: 15rem;
  max-height: 15rem;
}

.main__conocenos .mister__hodinka p {
  font-family: "Josefin Sans";
}

.main__conocenos .mister__guardeno {
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
  grid-area: mister__guardeno;
  align-items: center;
  gap: 2rem;
}

.main__conocenos .mister__guardeno img {
  max-width: 15rem;
  max-height: 15rem;
}

.main__conocenos .mister__guardeno p {
  font-family: "Josefin Sans";
}

@media (max-width: 973px) {
  .main__conocenos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 0.5fr);
    margin: 2rem 2rem;
    grid-template-areas: "meet_us meet_us"
      "mister__hodinka mister__guardeno"
      "mister__hodinka mister__guardeno";
  }

  .conocenos__school {
    flex-direction: column;
  }

  .institute_pic {
    max-width: 25rem;
  }

  .classroom_pic {
    max-width: 25rem;
  }
}

@media (max-width: 650px) {
  .main__conocenos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3, 1fr;
    margin: 2rem 2rem;
    grid-template-areas: "meet_us"
      "mister__hodinka"
      "mister__guardeno";
  }

  .meet_us {
    flex-direction: column;
  }
}

@media (max-width: 530px) {
  .main__conocenos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3, 1fr;
    margin: 2rem 2rem;
    grid-template-areas: "meet_us"
      "mister__hodinka"
      "mister__guardeno";
  }

  .professor_hodinka {
    max-width: 8rem;
    max-height: 8rem;
  }

  .professor_guardeno {
    max-width: 8rem;
    max-height: 8rem;
  }

  .mister__hodinka p {
    font-size: 1rem;
    text-align: center;
  }

  .mister__guardeno p {
    font-size: 1rem;
    text-align: center;
  }

  .institute_pic {
    max-width: 15rem;
  }

  .classroom_pic {
    max-width: 15rem;
  }

  .meet_us p {
    font-size: 1rem;
    text-align: center;
  }

  .meet_us h1 {
    font-size: 1.5rem;
  }

  .meet_us {
    flex-direction: column;
  }
}

/*STAFF*/
.main_staff {
  display: grid;
  grid-template-columns: repeat(3, 1.2fr);
  grid-template-rows: repeat(3, 0.3fr);
  row-gap: 4rem;
  column-gap: 3rem;
  padding: 4rem;
  grid-template-areas: "titulo_staff titulo_staff titulo_staff"
    "teacher_staff1 teacher_staff2 aside_staff"
    "teacher_staff3 teacher_staff4 aside_staff";
}

.main_staff .titulo_staff {
  grid-area: titulo_staff;
  font-family: "Bubblegum Sans";
  font-size: 3rem;
  padding: 2rem;
}

.main_staff .teacher_staff1 {
  grid-area: teacher_staff1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Josefin Sans";
  padding: 1rem;
}

.main_staff .teacher_staff1 img {
  max-width: 13rem;
}

.main_staff .teacher_staff2 {
  grid-area: teacher_staff2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Josefin Sans";
  padding: 1rem;
}

.main_staff .teacher_staff2 img {
  max-width: 13rem;
}

.main_staff .teacher_staff3 {
  grid-area: teacher_staff3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Josefin Sans";
  padding: 1rem;
}

.main_staff .teacher_staff3 img {
  max-width: 13rem;
}

.main_staff .teacher_staff4 {
  grid-area: teacher_staff4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Josefin Sans";
  padding: 1rem;
}

.main_staff .teacher_staff4 img {
  max-width: 13rem;
}

.main_staff .aside_staff {
  grid-area: aside_staff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 60%;
  padding: 2rem 2rem;
  color: black;
  border: solid 2px black;
  border-style: dashed;
  background: linear-gradient(to right, #add100, #7b920a);
}

.main_staff .aside_staff h3 {
  font-family: "Bubblegum Sans";
  font-size: 2rem;
}

.main_staff .aside_staff img {
  max-width: 8rem;
}

.main_staff .aside_staff p {
  font-family: "Josefin Sans";
}

@media (max-width: 973px) {
  .main_staff {
    display: grid;
    grid-template-columns: repeat(2, 1.2fr);
    grid-template-rows: repeat(4, 0.3fr);
    row-gap: 4rem;
    column-gap: 3rem;
    margin: 2rem 2rem;
    grid-template-areas: "titulo_staff titulo_staff"
      "teacher_staff1 teacher_staff2"
      "teacher_staff3 teacher_staff4"
      "aside_staff aside_staff";
  }
}

@media (max-width: 650px) {
  .main_staff {
    display: grid;
    grid-template-columns: 1, 1fr;
    grid-template-rows: repeat(6, 0.3fr);
    row-gap: 4rem;
    column-gap: 3rem;
    margin: 2rem 2rem;
    grid-template-areas: "titulo_staff"
      "teacher_staff1"
      "teacher_staff2"
      "teacher_staff3"
      "teacher_staff4"
      "aside_staff";
  }
}

@media (max-width: 438px) {
  .main_staff {
    display: grid;
    grid-template-columns: 1, 1fr;
    grid-template-rows: repeat(6, 0.3fr);
    row-gap: 4rem;
    column-gap: 3rem;
    margin: 2rem 2rem;
    grid-template-areas: "titulo_staff"
      "teacher_staff1"
      "teacher_staff2"
      "teacher_staff3"
      "teacher_staff4"
      "aside_staff";
  }

  .teacher1 {
    max-width: 8rem;
  }

  .teacher_emoji {
    max-width: 5rem;
  }

  .aside_staff {
    height: 100%;
    background: none;
    border: none;
  }

  .teacher_staff1 p {
    font-size: 1rem;
  }

  .teacher_staff2 p {
    font-size: 1rem;
  }

  .teacher_staff3 p {
    font-size: 1rem;
  }

  .teacher_staff4 p {
    font-size: 1rem;
  }

  .aside_staff p {
    font-size: 1rem;
  }

  .titulo_staff {
    font-size: 1.5rem;
  }
}

.main__contacto {
  background-image: linear-gradient(83deg, rgba(0, 0, 0, 0.58027) 0%, rgba(0, 0, 0, 0.55506) 100%), url(https://images.unsplash.com/photo-1533929736458-ca588d08c8be?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media (max-width: 976px) {
  .main__contacto .main__contacto {
    flex-direction: column;
    align-items: center;
  }
}

.main__contacto .contacto_title {
  color: white;
  margin: 3rem;
}

.main__contacto .form_contacto {
  margin: 3rem 2rem;
  padding: 2rem;
  max-width: 500px;
  box-sizing: border-box;
  border-radius: 7px;
  background: linear-gradient(to right, #d3cce3, #e9e4f0);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: medium;
  line-height: 2rem;
}

.main__contacto .form_contacto input,
.main__contacto .form_contacto textarea,
.main__contacto .form_contacto label {
  width: 100%;
  margin-top: 1.5rem;
  align-items: center;
}

.main__contacto .form_contacto .boton_submit {
  background-color: var(--Color_Two);
  color: black;
  font-family: var(--Fuente_Titulos);
  font-size: 1.2rem;
  padding: 0.5rem;
}

.main__contacto .form_contacto .boton_submit .boton:hover {
  cursor: pointer;
}

@media (max-width: 560px) {
  .main__contacto .form_contacto {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 315px) {
  .main__contacto .form_contacto {
    width: 100%;
    margin: 0;
  }
}

.main__contacto .map {
  flex-direction: column;
}

.main__contacto .map .sede_title {
  color: white;
  margin: 3rem;
}

.main__contacto .map .iframe_contacto {
  width: 500px;
  height: 450px;
}

@media (max-width: 1200px) {
  .iframe_contacto {
    width: 400px;
    height: 400px;
    margin-left: 4rem;
  }
}

@media (max-width: 975px) {
  .iframe_contacto {
    width: 480px;
    height: 480px;
  }
}

@media (max-width: 578px) {
  .iframe_contacto {
    width: 300px;
    height: 300px;
    margin: 0;
  }
}

.contact_us {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  gap: 2rem;
  padding: 3rem;
}

.contact_us .icono_parrafo_contactus {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: #70E000;
}

.contact_us .icono_parrafo_contactus .fa-brands,
.contact_us .fa-solid {
  font-size: 2rem;
  align-items: center;
}

@media (max-width: 430px) {
  .icono_parrafo_contactus p {
    font-size: 1.2rem;
  }
}