.footer {
    @extend .flex-col;
    color: $Color_Two;
    background-color: black;
    p {
        font-size: 1rem;
    }
    h5 {
        align-self: flex-end;
    }
    .social__media {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        margin-top: 1rem;
    }
    @include tablet {
        gap: 1rem;
    }
}