/* CURSOS */
.main__courses {
    animation-name: courses_background;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    h1 {
        font-size: 4rem;
        text-align: start;
        padding: 3rem;
        font-family: $Fuente_Titulos;
    }
    h2 {
        font-size: 1.7rem;
        text-align: center;
        padding: 1rem;
        background-color: black;
        color: #70E000;
        font-family: $Fuente_Titulos;
    }

    .courses_for_kids {
        display: flex;
        align-items: center;
        h3 {
            font-size: 1.4rem;
            text-align: center;
            padding: 1rem;
            color: #70E000;
            background-color: white;
            text-decoration: overline underline;
        }
        p {
            text-align: justify;
            font-size: 1.5rem;
            padding: 2rem;
            line-height: 2rem;
            font-family: $Fuente_Principal;
            color: black;
        }
    }

    .kinder_course,
.children_course,
.juniors_course,
.teens_course,
.adults_course {
    width: 20rem;
    display: inline-block;
    padding: 3rem;
    transform: rotate(353deg);
}


@keyframes courses_background {
    30% {
        background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.4990371148459384) 0%, rgba(255, 255, 255, 0.4990371148459384) 48%, rgba(255, 255, 255, 0.4962359943977591) 85%),
            url(https://png.pngtree.com/png-vector/20190306/ourlarge/pngtree-continuous-line-drawing-of-london-city-of-westminster-big-ben-clock-png-image_770819.jpg);
        background-size: cover;
    }

    60% {
        background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.4990371148459384) 0%, rgba(255, 255, 255, 0.4990371148459384) 48%, rgba(255, 255, 255, 0.4962359943977591) 85%),
            url(https://i.etsystatic.com/15524348/r/il/4a44b0/2495284073/il_fullxfull.2495284073_5xbw.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    100% {
        background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.4990371148459384) 0%, rgba(255, 255, 255, 0.4990371148459384) 48%, rgba(255, 255, 255, 0.4962359943977591) 85%),
            url(https://www.kindpng.com/picc/m/70-705639_black-and-white-london-phone-booth-draw-london.png);
        background-repeat: no-repeat;
    }
}

@include tabletEspecial {
    .kinder_course,
    .children_course,
    .juniors_course,
    .teens_course,
    .adults_course {
        width: 16rem;
        margin: 0 auto;
    }
    .kinder_course,
    .children_course,
    .juniors_course,
    .teens_course,
    .adults_course {
        transform: none;
    }
    .courses_for_kids {
        flex-direction: column;
    }
}
@include lgTablet {
    .kinder_course,
    .children_course,
    .juniors_course,
    .teens_course,
    .adults_course {
        width: 19rem;
    }
    .kinder_course,
    .children_course,
    .juniors_course,
    .teens_course,
    .adults_course {
        transform: none;
    }
}
@include telefono {
    .kinder_course,
    .children_course,
    .juniors_course,
    .teens_course,
    .adults_course {
        width: 12rem;
    }
    .main__courses h1 {
        font-size: 1.8rem;
    }
}
}