.main__contacto {
    background-image: linear-gradient(83deg, rgba(0, 0, 0, 0.5802696078431373) 0%, rgba(0, 0, 0, 0.5550595238095238) 100%), url(https://images.unsplash.com/photo-1533929736458-ca588d08c8be?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: 976px) {
        .main__contacto {
            flex-direction: column;
            align-items: center;
        }
    }

    .contacto_title {
        color: white;
        margin: 3rem;
    }

    .form_contacto {
        margin: 3rem 2rem;
        padding: 2rem;
        max-width: 500px;
        box-sizing: border-box;
        border-radius: 7px;
        background: linear-gradient(to right, #d3cce3, #e9e4f0);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: medium;
        line-height: 2rem;

        input,
        textarea,
        label {
            width: 100%;
            margin-top: 1.5rem;
            align-items: center;
        }

        .boton_submit {
            background-color: var(--Color_Two);
            color: black;
            font-family: var(--Fuente_Titulos);
            font-size: 1.2rem;
            padding: 0.5rem;

            .boton:hover {
                cursor: pointer;
            }
        }
    }

    @media (max-width: 560px) {
        .form_contacto {
            width: 100%;
            margin: 0;
        }
    }
    
    @media (max-width: 315px) {
        .form_contacto {
            width: 100%;
            margin: 0;
        }
    }

    .map {
        flex-direction: column;

        .sede_title {
            color: white;
            margin: 3rem;
        }

        .iframe_contacto {
            width: 500px;
            height: 450px;
        }
    }
}

@media (max-width:1200px) {
    .iframe_contacto {
        width: 400px;
        height: 400px;
        margin-left: 4rem;
    }
}

@media (max-width:975px) {
    .iframe_contacto {
        width: 480px;
        height: 480px;
    }
}

@media (max-width:578px) {
    .iframe_contacto {
        width: 300px;
        height: 300px;
        margin: 0;
    }
}

.contact_us {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    gap: 2rem;
    padding: 3rem;

    .icono_parrafo_contactus {
        display: flex;
        align-items: center;
        gap: 2rem;
        color: #70E000;
    }

    .icono_parrafo_contactus .fa-brands,
    .fa-solid {
        font-size: 2rem;
        align-items: center;
    }
}

@media (max-width: 430px) {
    .icono_parrafo_contactus p {
        font-size: 1.2rem;
    }
}