* {
    margin: 0;
    padding: 0;
}

a {
    color: #f0ead2;
    text-decoration: none;
}

html {
    font-size: 62, 5%;
}

p {
    font-size: 1.6rem;
    text-align: justify;
}

body {
    font-family: 'Balsamiq Sans';
}

li {
    list-style: none;
}

img {
    display: block;
}