$Fuente_Principal: 'Josefin Sans';
$Fuente_Titulos: 'Bubblegum Sans';
$Color_One: #f0ead2;
$Color_Two: #70E000;
$Color_Three_Details: hsl(125, 67%, 44%);
$Light_Shadow: 0 5px 15px rgba(0, 0, 0, 0.1);


.flex-col{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nivel_lectura {
    background-color: #ffff6a;
    font-style: italic;
}
.nivel_lectura2 {
    text-decoration: underline $Color_Two;
    font-style: italic;
}