$Fuente_Principal: 'Josefin Sans';
$Color_One: #f0ead2;
$Fuente_Titulos: 'Bubblegum Sans';
$Color_Two: #70E000;

.flex-col{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nivel_lectura {
    background-color: #ffff6a;
    font-style: italic;
}
.nivel_lectura2 {
    text-decoration: underline $Color_Two;
    font-style: italic;
}